:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --header-logo-color: #000000;
  --btn-hover-bg-color: #188ce8;
  --filter-btn-bg-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.logo,
.footer-logo {
  color: var(--header-logo-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.site-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link:active {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

.hidden-title {
  display: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-team {
  background-color: var(--filter-btn-bg-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  color: var(--primary-bg-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.address-link {
  color: var(--address-link-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-map-link {
  color: var(--primary-bg-color);
}

/* Portfolio */
.filter-button {
  color: var(--primary-text-color);
  background-color: var(--filter-btn-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  cursor: pointer;
}

.filter-button.current {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
